* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1 {
  background-color: white;
  padding: 12px;
  padding-bottom: 0;
  font-size: x-large;
  font-style: italic;
}

h3 {
  font-size: large;
  font-style: italic;
  padding: 12px;
  padding-bottom: 10px;
}
p {
  margin: auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  width: 95%;
  padding: 10px;
}
audio {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  height: 34px;
  width: 95%;
}

button {
  position: relative;
  margin: 12px;
  padding: 6px;
  width: 34%;
  left: 35%;
  height: 8vmax;
  max-height: 50px;

  background: #6451D4;
  border-radius: 20px;
  border: 2px solid;

  color: white;
  font-weight: 200;
  font-size: 20px;
}

footer {
  position: relative;
  bottom: 0;
  height: 6vmax;
  background-color: lightblue;
}
.footbt {
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
  color: black;
  left: 1px;
  width: 32%;
  background-color: lightblue;
  display: inline;
}
.footbt:hover {
  background-color: rgb(106, 151, 167);
}
/* Image gallery styleing */
#imagegallery {
  padding-top: 3%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 95%;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*for top corner */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  bottom: 10px;
}
.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
