* {
  font-family: "Sorts Mill Goudy", serif;
}

#map {
  height: 94vh;
}

#startsrn {
  position: relative;
  background-color: #bac6ff;
  width: 100vi;
  height: 100vh;
}
#startbttn {
  position: absolute;
  bottom: 50px;
  width: 40vw;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 300px;
  height: 8.5vh;

  background: #6451d4;
  border-radius: 20px;
  border: none;

  color: white;
  font-weight: 200;
  font-size: 20px;
}
#startp {
  position: absolute;
  width: 70vw;
  bottom: 23%;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 550px;
  z-index: 100;

  color: rgb(11, 0, 22);
  text-align: center;
  font-size: 73%;
}
h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -0%);
  padding-bottom: 5px;

  font-size: 180%;
  font-family: "Cormorant", serif;
  font-style: italic;
  font-weight: bold;
  color: #06021f;
}

#Simg {
  position: absolute;
  width: 70vw;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 180px;
  max-width: 600px;
}

#title {
  text-align: center;
}

h3 {
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  font-family: "Cormorant", serif;
  margin-bottom: 3px;
}

audio {
  max-width: 180px;
  height: 33px;
  border-radius: 15px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 15px 0 rgba(0, 0, 0, 0.19);
}

.linkimg {
  object-fit: cover;
  max-height: 130px;
  width: 180px;
  border-radius: 8px;
  border: solid #bac6ff 1.7px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 10px 15px 0 rgba(0, 0, 0, 0.4);
}

@keyframes pulse-glow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(22, 95, 143, 0);
  }
}

footer {
  position: relative;
  bottom: 0;
  height: 6vh;
  background-color: lightblue;
}
.footbt {
  margin: 0;
  height: 100%;
  border: none;
  left: 1px;
  width: 32%;
  background-color: lightblue;
  display: inline;
}
.footbt:hover {
  background-color: rgb(106, 151, 167);
}

@media screen and (min-width: 480px) {
  #startp {
    width: 90vw;
    max-width: 2000px;
    font-size: 2vw;
  }
  #Simg{
    max-height: 45vmin;
  }
  #title{
    font-size: 6vmax;
  }
}
